<div class="flex-container">
  <div class="card primaryCard">
    <div>
      <div [ngClass]="{'typing' : typingUsers.length>0 && typingUsers[typingUsers.length-1] !== getUsername}" *ngIf="typingUsers.length>0">
        <div *ngIf="typingUsers[typingUsers.length-1] !== getUsername">
          {{ typingUsers[typingUsers.length-1] }} is typing...
        </div>
      </div>
      <div class="welcome">
        <h2>SHARE NOW YOUR IDEAS WITH THE WORLD</h2>
      </div>
    </div>
    <div class="chatContainer">
      <div #scrollMe class="chatContainerTop">
        <div
          *ngFor="let msg of messages"
          class="chat"
          [ngClass]="{ main: msg.sender === getUsername }"
        >
          <div class="label">@{{ msg.sender }}</div>
          <div
            class="message"
            [ngClass]="
              msg.sender === getUsername ? 'mainMessage' : 'externalMessage'
            "
          >
            {{ msg.content }}
          </div>
        </div>
      </div>
    </div>
    <footer>
      <form (ngSubmit)="submit()">
        <textarea
          [(ngModel)]="message"
          name="message"
          (blur)="onBlurEvent()"
          (focus)="onFocusEvent()"
          placeholder="Type a message"
          (keydown.enter)="submit()"
          (input)="adjustTextArea($event)"
          required
        ></textarea>
        <button type="submit" [hidden]="!message">
          <img src="assets/send.svg" />
        </button>
      </form>
    </footer>
  </div>

  <div class="usersPanel">
    <div class="usersCard">
      <div *ngFor="let username of connectedUsers">
        <div class="onlineCard">
          <span class="dot"></span> {{ username }}
        </div>
      </div>
    </div>
  </div>
</div>
