<div class="flex-container">
  <div class="card primaryCard">
    <div class="welcome">
      <h2>SHARE NOW YOUR IDEAS WITH THE WORLD</h2>
    </div>
    <div class="chatContainer">
      <div #scrollMe class="chatContainerTop">
        <div
          *ngFor="let msg of messages"
          class="chat"
          [ngClass]="{ main: msg.sender === getUsername }"
        >
          <div class="label">@{{ msg.sender }}</div>
          <div
            class="message"
            [ngClass]="
              msg.sender === getUsername ? 'mainMessage' : 'externalMessage'
            "
          >
            {{ msg.content }}
          </div>
        </div>
        <div>
          <div *ngFor="let username of typingUsers">
            {{ username }} is typing...
          </div>
        </div>
      </div>
    </div>
    <footer>
      <form (ngSubmit)="submit()">
        <textarea
          id="message-input"
          [(ngModel)]="message"
          (blur)="onBlurEvent()"
          (focus)="onFocusEvent()"
          name="message"
          placeholder="Type a message"
          required
        ></textarea>
        <button type="submit" id="send-message">
          <img src="assets/send.svg" />
        </button>
      </form>
    </footer>
  </div>

  <div class="card" style="display: flex; flex-direction: column; gap: 5px">
    <div *ngFor="let username of connectedUsers">
      <div
        style="
          border-radius: 10px;
          width: 100px;
          height: 50px;
          background-color: #3c3c3c;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        🟢 {{ username }}
      </div>
    </div>
  </div>
</div>
