<div class="flex-container">
    <div class="card secondaryCard">
        <div class="description">
            <div style="margin-bottom: 14px;">
                <img src="assets/info_outline.svg"/>
            </div>
            <div>
                This platform is created by developers who believe that anyone can share their ideas with people all over the world. This community can talk about any topic that 
                it deems important to discuss with others. These topics can be trends, ideologies, or more. This platform believes in communication as you do.
            </div>
        </div>
    </div>

    <div class="card primaryCard">
        <div class="welcomeCard">
            <div class="welcome">
            <h2>WELCOME TO OUR COMMUNITY</h2>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="authentication()">
                <div class="username">
                    <div class="label">Username</div>
                    <input formControlName="username" name="username" placeholder="Tape your username"/>
                    <small *ngIf="username.invalid && (username.dirty || username.touched)" style="color:tomato;">
                        <div *ngIf="username.errors?.['required']">Username is empty.</div>
                    </small>
                </div>
                <button type="submit" [disabled]="loginForm.invalid">Connect with us</button>
            </form>
        </div>
    </div>

    <div class="card secondaryCard">
        <div class="description">
            <div style="margin-bottom: 14px;">
                <img src="assets/warning.svg"/>
            </div>
            <div>
                Any act of violence is prohibited!
            </div>
        </div>
    </div>
</div>